body {
    background-image: url(https://veyon.io/img/veyon-logo.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-position-y: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    outline: none;
    color:white;

}


#PartesClick{

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #222222;
    

}

#PartesClick:hover {
    border-color: #b87474;
    background: #c0c0c0;
}

.uwu {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
    

}

.uwu:hover{
    transform: scale(1.04);
    background-color: #b5f1ca;
}

#mejoraClick,#cafe{

  
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    

   

}
#mejoraClick,#cafe:hover {
    background: #006e52;
}

#veyon{

  
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    

   

}
#veyon:hover {
    background: #006e52;
}